/* Find us page location information */
.find-us-1 {
    background-image: url("../img/leaf-loaf-720x1080.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 1080px;
    color: white;
}

/* Find us page opening hours information */
.find-us-2 {
    background-color: var(--myBeige);
    max-height: 1080px;
}

/* Media query for medium screen sizes and larger */
@media (min-width: 768px) {
    .find-us-1 {
        min-height: 75vh;
        background-image: url("../img/leaf-loaf-720x1080.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        max-height: 1080px;
        color: white;
    }

    .find-us-2 {
        min-height: 75vh;
        background-color: var(--myBeige);
        max-height: 1080px;
    }
}