/* Welcome banner on home page */
.home-banner {
    background-color: var(--myBread);
}

.home-banner-text-div {
    z-index: 2;
}

.home-banner-img {
    background-image: url(../img/kneading-bw-800x600.jpg);
    background-position: right;
    background-size: cover;
    height: 40vh;
    min-height: 400px;
}

/* Background image styling for large screen sizes and up */
@media (min-width: 1200px) {
    .home-banner-img {
        min-height: 500px;
    }
}