/* General menu image properties */
.menu-img {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    color: white;
}

/* Menu text area for products and pricing */
.menu-text-col {
    background-color: var(--myGreen);
    max-height: 1080px;
    color: white;
}

.menu-text {
    margin: 1rem 6px -6px 6px;
}

.menu-filler {
    border-bottom: solid white 1px;
}

/* Keyframes */
@keyframes fade {
    0% {opacity: 0}
    24% {opacity: 1}
    100% {opacity: 0}
}

/* Elements to animate */
.menu-cycle-parent {
    position: relative;
    min-height: 30vh;
    max-height: 530px;
}

.menu-cycle {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    z-index: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    animation: fade 20s 0s infinite cubic-bezier(.25,1,0,3);
}

.menu-cycle-bread:nth-child(1) {
    background-image: url(../img/bread-cycle-1.jpg);
    animation-delay: 0s;
}

.menu-cycle-bread:nth-child(2) {
    background-image: url(../img/bread-cycle-2.jpg);
    animation-delay: 5s;
}

.menu-cycle-bread:nth-child(3) {
    background-image: url(../img/bread-cycle-3.jpg);
    animation-delay: 10s;
}

.menu-cycle-bread:nth-child(4) {
    background-image: url(../img/bread-cycle-4.jpg);
    animation-delay: 15s;
}

.menu-cycle-pastry:nth-child(1) {
    background-image: url(../img/pastry-cycle-1.jpg);
    animation-delay: 0s;
}

.menu-cycle-pastry:nth-child(2) {
    background-image: url(../img/pastry-cycle-2.jpg);
    animation-delay: 5s;
}

.menu-cycle-pastry:nth-child(3) {
    background-image: url(../img/pastry-cycle-3.jpg);
    animation-delay: 10s;
}

.menu-cycle-pastry:nth-child(4) {
    background-image: url(../img/pastry-cycle-4.jpg);
    animation-delay: 15s;
}

.menu-cycle-drinks:nth-child(1) {
    background-image: url(../img/drinks-cycle-1.jpg);
    animation-delay: 0s;
}

.menu-cycle-drinks:nth-child(2) {
    background-image: url(../img/drinks-cycle-2.jpg);
    animation-delay: 5s;
}

.menu-cycle-drinks:nth-child(3) {
    background-image: url(../img/drinks-cycle-3.jpg);
    animation-delay: 10s;
}

.menu-cycle-drinks:nth-child(4) {
    background-image: url(../img/drinks-cycle-4.jpg);
    animation-delay: 15s;
}