/* Defining global scope CSS variables */
:root {
    --beige: #fffff9;
    --cream: #ffffea;
    --almond: #fcf8ef;
    --sand: #dad49c;
    --earth: #88835f;
    --bread: #8c7a5f;
    --brown: #51412d;
    --otherBrown: #3b270c;
    --green: #77866d;
}

.text-1 {
    background-color: #f8f9fa;
}

.text-2 {
    background-color: var(--almond);
    color: var(--otherBrown);
}

.text-3 {
    background-color: var(--bread);
    color: white;
}

.text-4 {
    background-color: var(--green);
    color: white;
}

.logo {
    max-height: 60px;
}

.home-banner {
    background-color: var(--bread);
}

.home-banner-text-div {
    z-index: 2;
}

.home-banner-img {
    background-image: url(../img/kneading-bw-800x600.jpg);
    background-position: right;
    background-size: cover;
    height: 40vh;
    min-height: 400px;
}

/* Media query for small screen sizes and smaller */
@media (max-width: 576px) {
    .location-footer {
        font-size: 0.9rem;
    }

    .location-footer-title {
        font-size: 1.1rem;
        font-weight: 600;
    }
}

.footer {
    background-color: #f8f9fa;
    color: rgba(0, 0, 0, 0.5);
}

.menu-img {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    color: white;
}

.menu-text-col {
    background-color: var(--green);
    max-height: 1080px;
    color: white;
}

.menu-text {
    margin: 1rem 6px -6px 6px;
}

.menu-filler {
    border-bottom: solid white 1px;
}

.find-us-1 {
    background-image: url("../img/leaf-loaf-720x1080.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 1080px;
    color: white;
}

.find-us-2 {
    background-color: var(--beige);
    max-height: 1080px;
}

/* Media query for medium screen sizes and larger */
@media (min-width: 768px) {
    .find-us-1 {
        min-height: 75vh;
        background-image: url("../img/leaf-loaf-720x1080.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        max-height: 1080px;
        color: white;
    }

    .find-us-2 {
        min-height: 75vh;
        background-color: var(--beige);
        max-height: 1080px;
    }
}

.about-r1-c1 {
    background-image: url("../img/bread-crop.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 40vh;
}

.about-r1-c2 {
    background-color: var(--almond);
    color: var(--otherBrown);
}

.about-r2-c1 {
    background-image: url("../img/croissant-900x720.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 40vh;
}

.about-r2-c2 {
    background-color: var(--almond);
    color: var(--otherBrown);
}

.contact-form {
    background-color: var(--beige);
}

.btn-primary {
    background-color: var(--green);
    border-color: var(--green);
}

.btn-primary:hover {
    background-color: var(--bread);
    border-color: var(--bread);
}

.contact-form-submitted {
    background-image: url(../img/coffee-beans-heart-1080.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 50vh;
    max-height: 700px;
}

.thanks-msg {
    background-color: rgb(90, 90, 90, 0.9);
    text-align: center;
    color: white;
}

/* Keyframes */
@keyframes fade {
    0% {opacity: 0}
    24% {opacity: 1}
    100% {opacity: 0}
}

/* Elements to animate */
.menu-cycle-parent {
    position: relative;
    min-height: 30vh;
    max-height: 530px;
}

.menu-cycle {
    background-size: cover;
    background-repeat: none;
    background-position: center;
    opacity: 0;
    z-index: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    animation: fade 40s 0s infinite cubic-bezier(.25,1,0,3);
}

.menu-cycle-bread:nth-child(1) {
    background-image: url(../img/bread-cycle-1.jpg);
    animation-delay: 0s;
}

.menu-cycle-bread:nth-child(2) {
    background-image: url(../img/bread-cycle-2.jpg);
    animation-delay: 10s;
}

.menu-cycle-bread:nth-child(3) {
    background-image: url(../img/bread-cycle-3.jpg);
    animation-delay: 20s;
}

.menu-cycle-bread:nth-child(4) {
    background-image: url(../img/bread-cycle-4.jpg);
    animation-delay: 30s;
}

.menu-cycle-pastry:nth-child(1) {
    background-image: url(../img/pastry-cycle-1.jpg);
    animation-delay: 0s;
}

.menu-cycle-pastry:nth-child(2) {
    background-image: url(../img/pastry-cycle-2.jpg);
    animation-delay: 10s;
}

.menu-cycle-pastry:nth-child(3) {
    background-image: url(../img/pastry-cycle-3.jpg);
    animation-delay: 20s;
}

.menu-cycle-pastry:nth-child(4) {
    background-image: url(../img/pastry-cycle-4.jpg);
    animation-delay: 30s;
}

.menu-cycle-drinks:nth-child(1) {
    background-image: url(../img/drinks-cycle-1.jpg);
    animation-delay: 0s;
}

.menu-cycle-drinks:nth-child(2) {
    background-image: url(../img/drinks-cycle-2.jpg);
    animation-delay: 10s;
}

.menu-cycle-drinks:nth-child(3) {
    background-image: url(../img/drinks-cycle-3.jpg);
    animation-delay: 20s;
}

.menu-cycle-drinks:nth-child(4) {
    background-image: url(../img/drinks-cycle-4.jpg);
    animation-delay: 30s;
}
