/* Defining global scope CSS variables */
:root {
    --beige: #fffff9;
    --cream: #ffffea;
    --sand: #dad49c;
    --earth: #88835f;
    --bread: #8c7a5f;
    --brown: #51412d;
    --otherBrown: #3b270c;
    --green: #627059;
}

.home-banner-text-div {
    z-index: 2;
}

.home-banner-text {
    background-color: var(--beige);
    color: var(--bread);
}

.home-banner-img {
    background-image: url(../img/kneading-bw-800x600.jpg);
    background-position: right;
    background-size: cover;
    height: 40vh;
    min-height: 400px;
}

.footer {
    background-color: #f8f9fa;
    color: rgba(0, 0, 0, 0.5);
}

.find-us-1 {
    background-image: url("../img/leaf-loaf-720x1080.jpg");
    background-repeat: no-repeat;
    min-height: 80vh;
    max-height: 1080px;
}

.find-us-2 {
    background-color: var(--beige);
    min-height: 80vh;
    max-height: 1080px;
}
